ul.nav.nav-sidebar
  - for (var proji = 0; proji < modProj.lstproj.length; ++proji) {
  - if (modProj.curproj != undefined && modProj.lsrproj[proji].projname == modProj.curproj.projname) {
  li.active
    a(href='javascript:chg2test("")') #{modProj.lsrproj[proji].projcname}
  -} else {
  li
    a(href='javascript:chg2test("")') #{modProj.lsrproj[proji].projcname}
  -}
  -}
  li
  li
    a(href='javascript:chg2test("")') 新建项目