extends ../template/main.jade

block content
  #navsidebar.col-sm-3.col-md-2.sidebar
    h1 haha
    //include inc/nsb_main.jade
  #mainworkspace.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main