ul.nav.nav-sidebar
  - for (var proji = 0; proji < modProj.lstproj.length; ++proji) {
  - if (modProj.curproj != undefined && modProj.lstproj[proji].projname == modProj.curproj.projname) {
  li.active
    a(href='javascript:chgproj("#{modProj.lstproj[proji].projname}")') #{modProj.lstproj[proji].projcname}
  -} else {
  li
    a(href='javascript:chgproj("#{modProj.lstproj[proji].projname}")') #{modProj.lstproj[proji].projcname}
  -}
  -}
  li
  - if (curpage == 'newproj') {
  li.active
    a(href='/newproj') 新建项目
  -} else {
  li
    a(href='/newproj') 新建项目
  -}